* {
    box-sizing: border-box;
    font-family: verdana;
}

body {
    background: linear-gradient(to bottom, #0000FF, #FF00FF);
}

div#contenedor {
    width: 100%;
}

div.contenido {
    height: 704px;
    width: 1056px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

h1 {
    text-align: center;
    margin-top: -0.5em;
    font-size: 20px;
}

p {
    font-size: 16px;
}

span {
    font-weight: bold;
}

.information,
.controlls,
.about {
    margin: 1rem;
    padding: 1rem;
    border: 2px solid #ccc;
    text-align: center;
    color: white;
    background-color: #1b428b;
    border-radius: 10px;
}

.header {
    border: 2px solid #ccc;
    display: flex;
    background: #666FB0;
    margin: 1rem;
}

.menu {
    font-size: 35px;
    margin-left: 300px;
}

.github {
    height: 30px;
    width: 30px;
}

.link {
    font-family: 'Pacifico', cursive;
    text-align: center;
    margin: .2em;
    color: black;
    text-decoration: none;
    transition: height .3s linear;
}

.link:hover {
    background: #356FA5;
    color: white;
    border-radius: 10%;
}

.title-game {
    font-weight: bold;
    font-family: 'Pacifico', cursive;
    font-size: 35px;
    margin-left: 230px;
}